<section class="ose chat-card">
  <div class="ose chat-block">
    <div class="flexrow chat-header">
      <div class="chat-title"><h2>{{title}}</h2></div>
      {{#if img}}
      <div class="chat-img" style="background-image:url('{{img}}')"></div>
      {{/if}}
    </div>
    <div class="flexrow">
      <ol class="flex2">
        {{#each scores as |score id|}}
        <li class="flexrow">
          <div style="text-align: right">{{lookup @root.scoreNames id}}</div>
          <div style="text-align: center">{{score}}</div>
        </li>
        {{/each}}
      </ol>
      <div style="margin: 0.5em 0">
        <div>Sum: {{numberFormat stats.sum decimals=1}}</div>
        <div>Avg: {{numberFormat stats.avg decimals=1}}</div>
        <div>σ: {{numberFormat stats.std decimals=1}}</div>
        <hr />
        <div>Gold: {{gold}}</div>
      </div>
    </div>
  </div>
</section>
